.dcsic_delete_image {
    display: none !important;
}

.dcsic_wrapper span {
    background-color: #fff;
    color: gray;
    border-width: 1px;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dcsic_wrapper span:hover {
    background: #fff;
}

#comparison-form > * {
    margin: 0;
}
