{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/output.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/inter/font.css' %}">
    <title>Activate Account</title>
</head>
<body class="h-screen w-screen flex items-center justify-center bg-[#F9FAFB]">
    <form action="" method="POST" class="bg-white px-12 *:my-8 rounded-md lg:w-96">
        {% csrf_token %}
        {{form}}
        <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</button>
          </div>
    </form>
    
    {{activation_error}}
    <script>
    let activationKey = window.location.search;
    let activationInput = document.querySelector("input[name=activation_key]");
    activationInput.setAttribute("readonly", "true");
    activationKey = activationKey.slice(activationKey.indexOf("=")+1);
    console.log(activationKey=="");
    if (!activationKey == "") {
        activationInput.value = activationKey;
    }
    
    </script>
</body>
</html>