{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/output.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/inter/font.css' %}">
    <title>Registration Complete</title>
</head>
<body class="h-screen w-screen flex items-center justify-center bg-[#F9FAFB]">
    <div class="w-96 rounded">
        <p class="text-center px-8">Registration Complete, Verify email to proceed</p>
    </div>
</body>
</html>