{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/output.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/inter/font.css' %}">
    <title>Register For New Account</title>
</head>
<body class="bg-[#F9FAFB] pt-8">
    <form action="" method="POST" id="registration-form" class="bg-white p-4 rounded-md lg:w-96 lg:mx-auto lg:mt-8">

        {% csrf_token %}            
        <label for="id_username" class="required">Username:</label>
        
          
          {{form.username}}
          
            <br>
            <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
    
      
        <label for="id_email" class="required">Email address:</label>
        
          
          {{form.email}}
    
      
        <label for="id_password1">Password:</label>
        
          
          {{form.password1}}
          
            <br>
            <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
          
      
        <label for="id_password2">Password confirmation:</label>
        
          
          {{form.password2}}
          
            <br>
            <span class="helptext">Enter the same password as before, for verification.</span>
            
            {{form.errors}}

        <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</button>
        </div>
    </form>
    <script>

    let slug = window.location.search.split("&");
    let username = slug[0];
    let email = slug[1];

    username = username.slice(username.indexOf("=")+1);
    email = email.slice(email.indexOf("=")+1);
    console.log(username, email);

    let usernameInput = document.querySelector("input[name=username]");
    let emailInput = document.querySelector("input[name=email]");
    usernameInput.setAttribute("readonly", "true");
    usernameInput.value = username;
    emailInput.setAttribute("readonly", "true");
    emailInput.value = email;

    </script>
</body>
</html>